@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: Lexend, sans-serif;
  padding: 15px;
}

@media print {
  button {
    display: none;
  }
}

button:disabled {
  cursor: not-allowed;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

tr:hover {
  background-color: #eee;
}

th,
td {
  padding: 5px;
}

.icon-button {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
.icon-button:hover {
  text-decoration: underline;
  font-weight: bold;
}
