@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: lexend, sans-serif;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

tr:hover {
  background-color: #eee;
}

th,
td {
  padding: 5px;
}

.icon-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.icon-button:hover {
  text-decoration: underline;
  font-weight: bold;
}
