@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'brackets-viewer/style.scss';

.brackets-viewer {
  --primary-background: var(--wa-color-surface-default);
  --secondary-background: var(--wa-color-fill-quiet);
  --match-background: var(--primary-background);
  --font-color: var(--wa-color-text-normal);
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
}

body {
  font-family: Lexend, sans-serif;
  padding: 15px;
}

div#app {
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

th[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
}

@media print {
  button {
    display: none;
  }

  .print-hide {
    display: none;
  }
}

button:disabled {
  cursor: not-allowed;
}

.icon-button {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
.icon-button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.right-aligned {
  text-align: right;
}

.hovered-row {
  background-color: var(--wa-color-fill-quiet);
}

@media (not (scripting: enabled)) and (prefers-color-scheme: dark) {
  html:not(.wa-dark) {
    color-scheme: dark;
    background-color: black;

    body {
      color: white;
    }
  }
}
